*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: auto;
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.goldenLine 
{ width: 100%;
 height: 5px;
 background-color: goldenrod;}
header ul 
{ display: flex;
 flex-direction: row;}
header li 
{ margin-right: 2rem;
  color: white;
  font-size: 2rem;
  list-style-type: none;}
header ul a 
{ text-decoration: none;}
header ul .selected 
{ color:goldenrod;
  font-size: 2rem;
  text-decoration: underline;}

header ul :hover 
{ color: goldenrod;
  text-decoration: underline;}

.logoArea img
{ width: 10rem;
  height:auto;}
.anchors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.banner
{ display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;}
.bannerImage{ 
    width: 80%;
    height: auto;
border-radius: 1rem;}
.pizzaMenu
{ display: grid;
    grid-template-columns: repeat(3 , 3fr);
    gap: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;}

.pizzaArea h1 
{ font-size: 5rem;
  margin-bottom: 2rem;}

.pizzaArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pizzaItem{ 
    border: rgb(31, 29, 29) 1px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: auto;
    line-height: 5rem;
    text-align: center;
    padding: 2rem;
}
.pizzaItem p 
{ font-size: 2rem;
  line-height: 3rem;}

.itemImg 
{ width: 25rem;
height: auto;
  width: 100%;}
.itemImg img {
    width: 100%;
    height: auto;
}
.price fieldset 
{ border: red 1px solid;}

.adressArea
{ display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; margin-top: 5rem;}
  .pizzariaImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.adressArea img 
{ width: 50%;
 height: auto;
border-radius: 1rem;
margin-bottom: 1rem;}
.adressArea a, .adressArea i
{ font-size: 2rem;
text-decoration: none;
 color: blue;}

 .map:hover
 { text-decoration: underline;}
 .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 3rem;
 }
 .social-media i
{ font-size: 5rem;}
.social-media i:hover
{  color: darkblue;}

footer
{ background-color: black;
  height:20px;}